/* Très important, sinon, la page commence légèrement décalée */
* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(#94eaff, #e2a3ff);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.name {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    font-family: Charmonman, "Times New Roman", serif;
    text-align: left;
    color: white;
    padding: 0 50px;
    margin: 10px;

}

.intro {
    background-color: #49caff;
    position: absolute;
    top: 60px;
    width: 100%;
    opacity: 50%;
    box-sizing: border-box;
    height: 80px;
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
.intro h2{
    opacity: 100%;
}
}
.firstparagraph {
    text-align: justify;
    display: block;
    position: absolute;
    top: 17%;
    font-family: Barlow, Georgia, serif;
    margin-left: 70px;
}
/* Mettre une autre position que relative ne me permet pas de bouger
le block de nav.
 */

nav {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    float: left;
    position: relative;
    top: 140px;

}
/*Lorsque je mets vertical-rl, le menu sort du mauvais côté. */
.menulist {
    box-sizing: border-box;
    position: sticky;
    z-index: 10;
    top: 120px;
    display: block;
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin-left: 0;
    background-color: maroon;
    background-origin: padding-box;
    color: white;
    margin-top: 2px;
    padding: 5px;
    border: 2px solid green;

}
.sous-menu{
    display: none;
}
.sous-menu li{
    display: inline-block;
    box-sizing: border-box;
    background-color: red;
    writing-mode: lr;
    text-align: right;
    margin-top: 2px;
}
nav > ul li:hover .sous-menu{
    display: flex;
    flex-direction: row;
    border: 2px solid greenyellow;
    padding: 3px;
    height: 100%;
    background-color: white;
    margin: -8px -10px -5px 6px;
}
/*Quand je fais directement un <a>, ça marche pas donc j'ai mis un
un p puis un a
*/
footer p{
    display: inline-block;
    font-family: fantasy, cursive;
    box-sizing: border-box;
    border: 2px solid lavender;
    background-color: gray;
    color: #fef6ff;
    padding: 10px;
    position: fixed;
    bottom: 30px;
    left: 20px;
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
    height: 50px;
}

footer p a{
    text-decoration: none;
    color: #fef6ff;
}




.logo{
    box-sizing: border-box;
    position: fixed;
    display: block;
    bottom: 20px;
    right: 20px;
    background-color: #FFFFFF;
}