.name {
    font-family: Helvetica, "Times New Roman", serif;
    text-align: center;
    border-style: inset double;
    border-bottom-color: aquamarine;
    border-top-color: aquamarine;
    margin: 70px auto;


}
h2 p {
    font-family: "Times New Roman", Georgia, serif;
}

body {
    background: lightpink;
}
