* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
    "profile navbar"
    "title title"
    "main main"
    "footer footer";
    min-height: 100vh;
    background-image: url(../images/bg.jpg);
    background-repeat: repeat;
}
.profile{
    grid-area: profile;
    font-family: Kanit, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(to right, #F7B1C7, #FBDCE4, #F7AFBB, #FBDCE4, #F7B1C7 64%, #FFF, rgba(93, 59, 43, 0.3));
    border-bottom: solid;
    border-image: linear-gradient(to right, #c8fbd7 64%, #FFF, deepskyblue) 1;
    border-bottom-width: 4px;
    font-size: 10pt;
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.profile h1{
    grid-column: 2;
    padding-top: 3%;
    padding-left: 10%;
}
.profile h1 a{
    text-decoration: none;
    color: white;
    text-shadow: black 1px 1px 1px;
}
nav{
    grid-area: navbar;
    z-index: 1000;
    position: sticky;
    top: 0;
}
nav .menulist{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px;
    list-style: none;
}
nav ul li a{
    display: grid;
    background: rgba(93, 59, 43, 0.3);
    color: #FFF;
    height: 94%;
    border-right: 1px solid deepskyblue;
    border-bottom: 4px solid deepskyblue;
    font-size: 14pt;
    font-family: Barlow, sans-serif;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-decoration: none;
    text-shadow: purple 2px 2px 2px;
}
.first{
    border-bottom-left-radius: 0;
}
nav > ul li .submenulist{
    display: none;
    opacity: 0;
}
nav ul li > a:hover{
    background: #333;
    transition: 0.4s ease-out;
}
nav > ul li:hover > .submenulist{
    display: grid;
    opacity: 1;
    grid-template-rows: repeat(3, 2fr);
    transition: 0.2s ease;
}

nav ul li ul li a{
    border-left: 1px solid deepskyblue;
    border-radius: 10px;
    text-align: center;
}
li{
    list-style-type: none;

}
main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto 150px auto 150px auto 150px auto 150px auto;
}
.title{
    grid-area: title;
}
.prog-title{
    grid-column: 1/-1;
    grid-row: 2;
    margin: auto;
}
.volley-title{
    grid-column: 1/-1;
    grid-row: 4;
    margin: auto;
}
.music-title{
    grid-column: 1/-1;
    grid-row: 6;
    margin: auto;
}
.videogame-title{
    grid-column: 1/-1;
    grid-row: 8;
    margin: auto;
}
.categories{
    font-family: "Rubik Mono One", sans-serif;
    font-size: 30pt;
    font-weight: bolder;
    text-shadow: mediumpurple 2px 2px 2px;
    text-align: center;
    text-transform: uppercase;
    border: 4px inset black;
    background-color: rgba(93, 59, 43, 0.5);
    color: #FFF;
    padding: 10px 35px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 30px;
}
.aboutme{
    grid-column: 2;
    font-family: "Rubik Mono One", sans-serif;
    font-size: 30pt;
    text-shadow: black 2px 2px 2px;
    text-align: center;
    border-top: 3px deepskyblue inset;
    border-bottom: 3px deepskyblue inset;
    margin: 5% 0;
    padding: 3% 0;
    background-image: linear-gradient(to top, #FFF, rgba(255,194,243,0.47),rgba(255,194,243,0.7), rgba(255,194,243,0.47), #FFF);
    color: white;

}
.containers{
    width: 420px;
    height: 570px;
    margin: 125px auto;
    z-index: 10;
}
.dinapic-container{
    grid-column: 1;
    grid-row: 1;
}

.pictures{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px outset black;
    border-radius: 20px;
    box-shadow: 5px 5px 8px #000 ;

}
.prog-container{
    grid-column: 2;
    grid-row: 3;
}
.volley-container{
    grid-column: 1;
    grid-row: 5;
}
.yt-container{
    grid-column: 2;
    grid-row: 7;
}

.videogame-container{
    grid-column: 1;
    grid-row: 9;
}

.aboutme-part{
    grid-area: main;
    grid-column: 2;
    grid-row: 1;
}
.prog-part{
    grid-area: main;
    grid-column: 1;
    grid-row: 3;
}
.volley-part{
    grid-area: main;
    grid-column: 2;
    grid-row: 5;

}
.music-part{
    grid-area: main;
    grid-column: 1;
    grid-row: 7;
}
.videogame-part{
    grid-area: main;
    grid-column: 2;
    grid-row: 9;

}
.paragraph{
    width: 300px;
    font-family: Barlow, sans-serif;
    font-size: 16pt;
    margin : auto;
    text-align: center;
    word-wrap: break-word;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6),rgba(0,0,0,0.3), rgba(0,0,0,0.3), rgba(0,0,0,0.3), rgba(253,229,233,0.88));
    border-radius: 70px;
    padding : 19% 5% 19% 5%;
    color: white;
    text-shadow: black 1px 1px 1px;
    z-index: 10;

}
#windscene{
    visibility: hidden;
}
.hover{
    font-family: Deneane, sans-serif;
    font-size: 18pt;
    text-shadow: 2px 2px 2px black;
    color: white;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    overflow: visible;
    position: relative;
    left: 435px;
    top: -500px;
    background: rgba(0,0,0,0.3);
    padding: 10px 0;
    border-radius: 20px;
    z-index: 0;
}
.soundicon{
    position: relative;
    width: 40px;
    top: -250px;
    left: 430px;
    transform: rotate(90deg);
    overflow: visible;
}
.caption{
    position: relative;
    top: -300px;
    left: 10px;
    font-family: Deneane, sans-serif;
    color: white;
    text-shadow: black 2px 2px 5px;

}
footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.top{
    grid-column-start: -1;
    position: fixed;
    bottom: 40px;
    right: 170px;

}
.top-container{
    width: 60px;
}
.top-container img{
    width: 100%;
    background : rgba(0,0,0,0.2);
    border-radius: 20px;
}
.top-container img:hover{
    background: rgba(255,255,255,0.4);
}