* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
    "profile navbar"
    "title title"
    "main main"
    "footer footer";
    min-height: 100vh;
    background-image: url(../images/bg.jpg);
    background-repeat: repeat;
}
.profile{
    grid-area: profile;
    font-family: Kanit, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(to right, #F7B1C7, #FBDCE4, #F7AFBB, #FBDCE4, #F7B1C7 64%, #FFF, rgba(93, 59, 43, 0.3));
    border-bottom: solid;
    border-image: linear-gradient(to right, #c8fbd7 64%, #FFF, deepskyblue) 1;
    border-bottom-width: 4px;
    font-size: 10pt;
    text-align: left;
    z-index: 1000;
}
.profile h1{
    grid-column: 2;
    padding-top: 3%;
    padding-left: 10%;
}
.profile h1 a{
    text-decoration: none;
    color: white;
    text-shadow: black 1px 1px 1px;
}
nav{
    grid-area: navbar;
    z-index: 1000;
}
nav .menulist{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px;
    list-style: none;
}
nav ul li a{
    display: grid;
    background: rgba(93, 59, 43, 0.3);
    color: #FFF;
    height: 94%;
    border-right: 1px solid deepskyblue;
    border-bottom: 4px solid deepskyblue;
    font-size: 14pt;
    font-family: Barlow, sans-serif;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-decoration: none;
    text-shadow: purple 2px 2px 2px;
}
.first{
    border-bottom-left-radius: 0;
}
nav > ul li .submenulist{
    display: none;
    opacity: 0;
}
nav ul li > a:hover{
    background: #333;
    transition: 0.4s ease-out;
}
nav > ul li:hover > .submenulist{
    display: grid;
    opacity: 1;
    grid-template-rows: repeat(3, 2fr);
    transition: 0.2s ease;
}

nav ul li ul li a{
    border-left: 1px solid deepskyblue;
    border-radius: 10px;
    text-align: center;
}
li{
    list-style-type: none;

}

.title{
    grid-area: title;
    margin: 125px auto;
    border: 6px outset deepskyblue;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 15px;
    background-image: linear-gradient(to top, #FBDCE4,rgba(93, 59, 43, 0.6), rgba(93, 59, 43, 0.6), rgba(93, 59, 43, 0.6), rgba(93, 59, 43, 0.6), rgba(93, 59, 43, 0.6), #FBDCE4);

}

.contact{
    font-family: "Rubik Mono One", sans-serif;
    color: white;
    font-size: 22pt;
    font-weight: lighter;
    text-transform: uppercase;
}

main{
    grid-area: main;
    display: grid;
    grid-template-columns: 25vw auto auto 25vw;
    grid-template-rows: repeat(4, 100px);
}
form{
    grid-column: 3;
    display: flex;
}