*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 400px 100px 70px 300px;
    grid-template-areas:
    "profile"
    "title"
    "navbar"
    "main";
    border: 20px ridge gray;
    background: rgba(255,217,165,0.89);
    padding: 10px;
    min-height: calc(100vh - 60px);
}

.profile{
    grid-area: profile;
    display: grid;
    grid-template-rows: 300px;
    grid-column: 2;
    margin: 0 auto;
}
.fancy{
    font-family: UnifrakturMaguntia, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 190pt;
    position:relative;
    top: 13px;
    left: -180px;
    color: #000;
}
.firstname{
    font-family: "IM Fell French Canon SC", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 150pt;
    position: relative;
    top: 13px;
    left: -180px;
    color: #000;
}
.front-letter {
    font-family: "IM Fell French Canon SC", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 150pt;
    position: relative;
    top: 13px;
    left: -190px;
    color: #000;
    z-index: 1000;
}
.lastname{
    font-family: "IM Fell French Canon SC", serif;
    font-size: 150pt;
    font-weight: bold;
    color: #000;
    position: relative;
    top: -117px;
    left: 210px;
}
.profile a{
    text-decoration: none;
    color: #000;
}
nav{
    grid-area: navbar;
    width: 80vw;
}
nav .menulist{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}
nav ul li{
    margin: auto;
    list-style: none;
}
nav ul li .submenulist{
    display: none;
    opacity: 0;
}
nav ul li a{
    width: 100%;
    text-decoration: none;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 15pt;
    font-weight: bold;
    border-right: 5px double black;
    border-left: 5px double black;
    padding: 0 100px;
}
nav ul li a:hover{
    padding-top: 10px;
    padding-bottom: 10px;
    background: gray;
    color: white;
    border-top: 2px double black;
    border-bottom: 2px double black;
    border-radius: 10px;
    transition: 0.2s;
}

nav > ul li a:hover .submenulist{
    display: grid;
    opacity: 1;
    transition: 0.2s;
}

main{
    grid-area: main;
    grid-column: 2;
}
.title{
    grid-area: title;
    grid-column: 2;
    margin: auto;
}
.main-point{
    position: relative;
    top: -20px;
    font-family: "Charmonman", serif;
    font-size: 40pt;
    font-weight: bold;
}
.secundary{
    position: relative;
    top: -20px;
    font-family: Charmonman, serif;
    font-size: 20pt;
    font-style: italic;
}
.image-container{
    width: 270px;
    height: 270px;
    margin: auto;
}
.dinapic{
    width: 100%;
    height: 100%;
    border: 15px inset gray;
}
label{
    position: relative;
    top: -300px;
    left: -20px;
    width: 20px;
    height: 30px;
    display: block;
    background: rgba(255,226,111,0.69);
    border-radius: 200px;
    box-shadow: inset 0 5px 15px rgba(0,0,0,0.3), inset 0 -5px 15px rgba(255,255,255, 0.2);
    cursor: pointer;
    transition: 0.2s;
    overflow: visible;
}

label:after{
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: linear-gradient(to right, rgba(255,194,243,0.76), white);
    border-radius: 180px;
    transition: 0.2s;
}

input{
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked + label{
    background: rgba(255,226,111,0.8);
    box-shadow: inset 0 5px 15px rgba(0,0,0,0.5), inset 0 -5px 15px rgba(255,255,255, 0.2);
}
input:checked + label:after{
    top: 28px;
    transform: translateY(-100%);
    background: linear-gradient(to left, rgba(255,194,243,0.76), white);
}
input:active + label:after{
    height: 18px;
}
.git{
    display: grid;
    grid-template-columns: auto;
    grid-area: profile;
    grid-column: 1;
    width: 95px;
    height: 95px;
}
.gitlogo{
    width: 100%;
}